.sponsored-product.card {border: 1px solid #f68b24;min-height: 0px;opacity: 0.7;padding-top: 24px;}
.sponsored-product.card:hover {opacity: 1;}
.sponsored-product.card .pic {max-height: 50px;margin: 0 auto 24px;}
.sponsored-product.card .rating-with-count {padding-top: 0px;}
.sponsored-product.card .shop-count .text-highlight {background-color: #f68b24;color: white;}
